@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --PaleBlue: hsl(225, 100%, 94%);
    --BrightBlue: hsl(245, 75%, 52%);
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --OpacityBlue: rgba(136, 140, 151, 0.1);
    --DarkBlue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url('../img/pattern-background-desktop.svg') / cover;
    background-repeat: no-repeat;
    font-size: 62.5%;
    min-height: 100%;
   
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: -2px 4px 10px rgba(175, 175, 175, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55rem;
    width: 40rem;
}

.text {
    font-size: 1.6rem;
    font-weight: 500;
}

.card .image_destak{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card .description {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    justify-content: center;
    margin: 2rem;
}

.card .description .description_content {
    color: var(--DesaturatedBlue);
    padding: 1rem;    
    text-align: center;
}

.card .order {
    background-color: var(--OpacityBlue);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50%;
    height: 9rem;
    width: 85%;
}

.card .order .img_order {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .order .type_of_plan {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: flex-end;
    font-weight: 700;
}

.card .order .price {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: var(--DesaturatedBlue);
}

.card .order .change_plan {
    grid-column: 3 / 4;
    grid-row:  1 / 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.6rem;
    color: var(--BrightBlue);
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
    transition: ease .4s;
}

.card .order .change_plan:hover {
    color: var(--DarkBlue);
    text-decoration: none;
}

.card .payment {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.card .payment .proceed {
    background-color: var(--BrightBlue);
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 4px rgba(175, 175, 175, 0.8);
    color: white;
    font-weight: 700;
    width: 85%;
    height: 5rem;
    cursor: pointer;
    transition: ease .4s;
}

.card .payment .proceed:hover {
    background-color: var(--DarkBlue);
}

.card .payment .cancel_order {
    color: var(--DesaturatedBlue);
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    padding-top: 1rem;
    transition: ease .4s;
    text-decoration: none;
}

.card .payment .cancel_order:hover  {
    color: var(--DarkBlue);
}

.attribution {
    padding-top: 2rem;
}


@media (max-width: 425px) {
    .card {
        width: 30rem;
        height: 50rem;
    }
}
